/*use body as outer container, its just a 404 page*/
body {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*font settings from
https://3.7designs.co/blog/2008/06/10-examples-of-beautiful-css-typography-and-how-they-did-it/*/
h1 {
  font-family: times, Times New Roman, times-roman, georgia, serif;
  font-size: 48px;
  line-height: 40px;
  letter-spacing: -1px;
  color: #444;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-weight: 100;
}

h2 {
  font-family: times, Times New Roman, times-roman, georgia, serif;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -1px;color: #444;
}

.container {
  text-align: center;
}
